<form (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="fill">
	      <mat-label>Start Date</mat-label>
	      <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" name="startDate" required />
	      <mat-datepicker-toggle matSuffix [for]="startPicker" />
	      <mat-datepicker #startPicker />
      </mat-form-field>

      <mat-form-field appearance="fill">
	      <mat-label>End Date</mat-label>
	      <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate" name="endDate" required />
	      <mat-datepicker-toggle matSuffix [for]="endPicker" />
	      <mat-datepicker #endPicker />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput [(ngModel)]="amount" name="amount" required />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Calculate</button>
    </mat-card-actions>
  </mat-card>
</form>